.columnThird {
  margin-bottom: 3rem; }

.columnHalf {
  margin-top: 5rem; }

@media (min-width: 768px) and (max-width: 978px) {
  .columnThird {
    width: 33.333%;
    float: left;
    padding-left: 1rem;
    padding-right: 1rem; }

  .columnHalf {
    width: 50%;
    float: left;
    vertical-align: top; } }
@media (min-width: 979px) {
  .columnThird {
    width: 33.333%;
    float: left;
    padding-left: 1rem;
    padding-right: 1rem; }

  .columnHalf {
    width: 50%;
    float: left;
    vertical-align: top; } }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

html {
  font-size: 62.5%; }

body {
  font-size: 0; }

.wrapper {
  width: 100%; }

.main__nav {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.main__nav--link {
  font-size: 1.6rem;
  width: 22%;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #3c3c3c;
  text-transform: capitalize; }

.main__nav--link__logo {
  font-size: 1.6rem;
  width: 34%;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #3c3c3c;
  text-transform: uppercase;
  padding-left: 1rem;
  padding-right: 1rem; }

.main {
  width: 100%;
  height: 20rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 4.8rem; }

.main__heading {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  color: white;
  font-size: 3rem;
  font-weight: 400;
  text-shadow: 0px 1px #282828;
  padding-top: 6rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center; }

@media (min-width: 479px) and (max-width: 767px) {
  .main__nav--link {
    width: 20%; }

  .main__nav--link__logo {
    width: 25%; }

  .main__heading {
    font-size: 4rem;
    padding-top: 10rem; }

  .main {
    height: 30rem; } }
@media (min-width: 768px) and (max-width: 978px) {
  .main__nav--link {
    width: 10%; }

  .main__nav--link__logo {
    width: 20%; }

  .main__heading {
    font-size: 4rem;
    padding-top: 10rem; }

  .main {
    height: 30rem; } }
@media (min-width: 979px) {
  .main__nav--link {
    width: 10%; }

  .main__nav--link__logo {
    width: 15%; }

  .main__heading {
    font-size: 4rem;
    padding-top: 10rem; }

  .main {
    height: 30rem; } }
.article__offer--headingPersonal {
  background-color: #4d9158;
  position: relative;
  display: block;
  height: 22rem;
  padding-top: 3rem; }

.article__offer--headingPersonal h3 {
  color: white;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 3px;
  text-align: center;
  font-weight: 500; }

.article__offer--headingPersonal h2 {
  color: white;
  text-transform: uppercase;
  font-size: 10rem;
  text-align: center;
  font-weight: 300; }

.article__offer--headingPersonal h4 {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  font-weight: 500; }

.article__offer--headingBusiness {
  background-color: #2d4a81;
  position: relative;
  display: block;
  height: 22rem;
  padding-top: 3rem; }

.article__offer--headingBusiness h3 {
  color: white;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 3px;
  text-align: center;
  font-weight: 500; }

.article__offer--headingBusiness h2 {
  color: white;
  text-transform: uppercase;
  font-size: 10rem;
  text-align: center;
  font-weight: 300; }

.article__offer--headingBusiness h4 {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  font-weight: 500; }

.article__offer--headingEnterprise {
  background-color: black;
  position: relative;
  display: block;
  height: 22rem;
  padding-top: 3rem; }

.article__offer--headingEnterprise h3 {
  color: white;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 3px;
  text-align: center;
  font-weight: 500; }

.article__offer--headingEnterprise h2 {
  color: white;
  text-transform: uppercase;
  font-size: 10rem;
  text-align: center;
  font-weight: 300; }

.article__offer--headingEnterprise h4 {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  font-weight: 500; }

.article__offer--list li {
  display: block;
  text-align: center;
  position: relative;
  height: 4.5rem;
  color: #282828;
  font-size: 1.6rem;
  font-weight: 500;
  padding-top: 1.25rem;
  padding-bottom: 1rem;
  background-color: whitesmoke;
  border-bottom: 1px solid #e6e6e6; }

.article__offer--personal {
  width: 100%;
  position: relative;
  font-size: 1.4rem;
  text-align: center;
  border: 1px solid #e6e6e6;
  background-color: white; }

.article__offer--business {
  width: 100%;
  position: relative;
  font-size: 1.4rem;
  text-align: center;
  border: 1px solid #e6e6e6;
  background-color: white; }

.article__offer--enterprise {
  width: 100%;
  position: relative;
  font-size: 1.4rem;
  text-align: center;
  border: 1px solid #e6e6e6;
  background-color: white; }

.articles__offers {
  font-size: 1.4rem;
  width: 95%;
  margin: 0 auto; }

.article__offer--link {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 900;
  text-transform: capitalize;
  color: #1e1e1e;
  border: 1px solid #e6e6e6;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 2.25rem;
  text-decoration: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative; }

@media (min-width: 979px) {
  .articles__offers {
    width: 80%;
    margin: 0 auto; } }
.articles {
  font-size: 1.4rem;
  width: 85%;
  margin: 0 auto; }

.articles__general--headline {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.4rem;
  margin-bottom: 2rem; }

.articles__general--text {
  font-weight: 400;
  line-height: 2.5rem;
  font-size: 1.6rem; }

@media (min-width: 768px) and (max-width: 978px) {
  .articles {
    clear: both;
    width: 100%;
    margin-bottom: 2rem; }

  .articles__general {
    padding-left: 5rem;
    padding-right: 5rem;
    margin-bottom: 3rem; }

  .articles__general--text {
    font-weight: 400;
    line-height: 2rem; } }
@media (min-width: 979px) {
  .articles {
    clear: both;
    width: 80%;
    margin-bottom: 2rem;
    margin: 0 auto; }

  .articles__general {
    padding-left: 7rem;
    padding-right: 7rem;
    margin-bottom: 3rem; }

  .articles__general--text {
    font-weight: 400;
    line-height: 2rem; } }
footer {
  font-size: 1.4rem;
  background-color: black; }

.footer__text {
  color: #8c8c8c;
  padding: 2rem;
  text-align: center;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.5rem;
  margin-top: 2rem; }

.footer__link {
  color: white; }

@media (min-width: 768px) and (max-width: 978px) {
  footer {
    clear: both; } }
@media (min-width: 979px) {
  footer {
    clear: both; } }

/*# sourceMappingURL=main.css.map */
